body {
  margin: 0;
  padding: 0;
  background-color: #e9f1f6; /* 设置全局背景颜色 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.MuiAppBar-root {
  background-color: transparent; /* 确保背景透明 */
  box-shadow: none; /* 去掉阴影 */
}
